html[dir='rtl'] .page-wrapper {
  margin-right: 270px;
  margin-left: 0;
}

html[dir='rtl'] .app-sidebar {
  left: auto;
  right: 0;
}

html[dir='rtl'] .app-sidebar {
  direction: rtl;
}

html[dir='rtl'] .app-sidebar [data-slot='sidebar-menu-item'],
html[dir='rtl'] .app-sidebar [data-slot='sidebar-menu-button'],
html[dir='rtl'] .app-sidebar [data-slot='sidebar-submenu-button'] {
  text-align: right;
}

html[dir='rtl'] .app-sidebar [data-slot='sidebar-menu-button'],
html[dir='rtl'] .app-sidebar [data-slot='sidebar-submenu-button'],
html[dir='rtl'] .app-sidebar [data-sidebar='menu-button'],
html[dir='rtl'] .app-sidebar .side_sub {
  direction: rtl;
  justify-content: flex-end;
}

html[dir='rtl'][data-layout='horizontal'] .page-wrapper {
  margin-right: 0 !important;
}

html[dir='rtl'][data-sidebar-type='mini-sidebar'] .brand-logo {
  overflow: hidden;
}
html[dir='rtl'][data-sidebar-type='mini-sidebar'] .page-wrapper {
  margin-left: unset !important;
  margin-right: 80px !important;
}
html[dir='rtl'] .btn-group .right-btn {
  border-radius: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0pc;
}
html[dir='rtl'] .btn-group .left-btn {
  border-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left-width: 1px;
}

@media (max-width: 1199px) {
  html[dir='rtl'] .page-wrapper {
    margin-right: 0 !important;
  }

  html[dir='rtl'][data-sidebar-type='mini-sidebar'] .page-wrapper {
    margin-left: unset !important;
    margin-right: 0px !important;
  }
}

html[dir='rtl'] select:not([size]) {
  padding-left: 35px;
}

html[dir='rtl'] .megamenu {
  transform: translate(-95%, 40px) !important;
}

html[dir='rtl'] .translate {
  transform: translate(0px, 40px) !important;
}

html[dir='rtl'] .translate-lng {
  transform: translate(0px, 40px) !important;
}

html[dir='rtl'] table tr th,
html[dir='rtl'] table tr td {
  text-align: right;
}
